<!--aqui vamos a hacer la interfaz de links -->
<div class="content">
  <div class="row">
    <div class="col-12">
      
        <% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
          <div id="successMessage" class="alert custom-alert alert-dismissible fade show custom-alert" role="alert">
              <%= success_msg %>
              <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      <% } %>
      
        
          
          <html>
          <head>
            <meta
              name="viewport"
              content="width=device-width, initial-scale=1"
            />
            <link rel="stylesheet" href="/public/generarLink.css" />
          </head>
          <body>
            <br />
            <br />
          
            <div class="contenedor">
              <button id="abrirModal2" class="boton-modal">Generar enlace</button>
              <button id="abrirModal" class="boton-modal1">Generar enlace12</button>
            </div>
           
      
            <!-- Ventana modal, por defecto no visiblel -->
            <div id="ventanaModal2" class="modal">
              <div class="contenido-modal">
                <span class="cerrar">&times;</span>

                <div class="form-container">
                  <h1 class="form-title">Generador de Link</h1>
                  <form action="/api/generarLink" method="POST" required="true" id="link-form">
                      <div class="input-container">

                        <input
                          type="text"
                          id="nombre"
                          name="nombre"
                          placeholder="Nombre del cliente"
                          required
                        />
                      </div>
                    
                      <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email del cliente"
                        required
                      />
                    
                    
                      <div class="input-container">
                        <input
                          type="text"
                          id="telefono"
                          name="telefono"
                          placeholder="Teléfono del cliente"
                          required
                        />
                      </div>
                   
                    
                      <input
                        type="text"
                        id="monto"
                        name="monto"
                        placeholder="Monto"
                        required
                      />
                    
                   <!-- <li>
                      <input
                        type="radio"
                        id="mes"
                        name="meses"
                        value="1"
                        disabled
                      />
                      <label for="mes3" >Pago único</label>
                    </li>
                    <li>
                      <input
                        type="radio"
                        id="mes"
                        name="meses"
                        value="3"
                        disabled
                      />
                    <label for="mes0">3 meses</label>
                    </li>
                    <li>
                      <input
                        type="radio"
                        id="mes"
                        name="meses"
                        value="6"
                        disabled
                      />
                      <label for="mes1"> 6 meses</label>
                    </li>
                    <li>
                      <input
                        type="radio"
                        id="mes"
                        name="meses"
                        value="12"
                        disabled
                      />
                      <label for="mes2">12 meses</label>
                    </li>-->

                    <br />

                    <div class="input-container">
                      <input
                        type="text"
                        id="descripcion"
                        name="descripcion"
                        placeholder="Descripción"
                        minlength="3"
                        maxlength="33"
                        required
                      />
                    </div>
                    <br />

                    <div class="input-container">
                      <button id="generar" class="generar" type="submit">Generador</button>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <script src="/public/script-link.js"></script>
      
          </body>
          </html>
        </div>
      
      <div class="contenedor2">
        <div class="col-lg-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Cantidad total pagada</h5>
              <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category" >links total crreados</h5>
              <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12</h3>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

