<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/login.css" />
    <title>Login</title>
  </head>
  <body>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      function onSubmit(token) {
        document.getElementById("user-form").submit();
      }
    </script>

    <div class="center-container">
      <h1 class="login-header">Login</h1>
      <form action="/login" method="POST" id="user-form" class="center-content">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Escribe tu email"
          required="true"
        />
        <br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Escribe tu contraseña"
          required="true"
        />
        <button
          class="g-recaptcha"
          data-sitekey="6Ld255QoAAAAANypXIKZ7fSemDrYq5UjUizfxLBr"
          data-callback="onSubmit"
          data-action="submit"
        >
          Ingresar
        </button>
      </form>

      <br />

      <div class="center-content">
        <a href="forgot_password.ejs">Recordar Contraseña</a>

      </div>
    </div>
  </body>
</html>
