<!DOCTYPE html>
<html lang="en">
<head> <!-- aqui metemos la interfaz de generar link y de registro -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/login.css" />
    <title>Menu</title>
</head>
<body>
    <div class="center-container">
        <h1>Hola Juan</h1>  
        <a href="/registro">Registrarme</a>
        <a href="/links.ejs">Generar Link</a>
    </div>
</body>
</html>