<!DOCTYPE html>
<html lang="en">
<head> <!-- aqui metemos la interfaz de generar link y de registro -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/login.css" />
    <title>Menu</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Hola Juan</h1>  
    </div>

    <div style="float: left; margin-top: 20px; margin-left: 20px;">
    <!--<h2>generar link de pagos</h2>-->
    <a href="/links.ejs">Generar Link</a>
    </div>

    <div style="float: left; margin-top: 20px; margin-left: 20px;">
    <!--<h2>Registro</h2>-->
    <a href="/registro">Registrarme</a>

    </div>

    

</body>
</html>
<!--<a href="/registro">Registrarme</a>
<a href="/links.ejs">Generar Link</a>-->