<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/login.css" />
    <title>Menu</title>
</head>
<body>
 
    <div class="container">
        <div class="options">
            <a class="login-header1" href="/links">Generar Link</a>
            <a class="login-header1" href="/registro">Registrarme</a>
            <a class="login-header1" href="/configuracion">configuracion</a>
            <a class="login-header1" href="/logout">logout</a>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>

        <div style="text-align: center;">
            <h1 class="login-header">Hola Juan </h1>  
        </div>
    </div>





</body>
</html>
<!--<a href="/registro">Registrarme</a>
<a href="/links.ejs">Generar Link</a>-->