<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <h1 style="color: white">En construcción</h1>
          <h2 style="color: white">Se te notificará los pagos realizados</h2>
        </div>
      </div>
    </div>
  </div>
</div>
