body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #181e40; /* Fondo azul marino */
    color: #FFFFFF; /* Texto blanco */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

.center-content {
  text-align: center;
  margin: 80px;
  color: #fff;
}

.center-content a {
  color: #fff;
  margin-right: 20px; /* Añadido un margen derecho solo para el enlace "Registrarse" */
  float: right;
}

.separator {
  margin: 0;
}



button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2458bf ;
  color: #f8f7f8;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
  font-size: 120%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  width: 220px; /* Ancho del botón */
  margin-left: 20px; /* Espacio en blanco a la izquierda del botón */
}

button:hover {
  background-color: #0a1764 ;
}

.separator {
  margin: 0 10px;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image,
.right-image {
  width: 200px;
}

.right-image {
  margin-left: auto;
}

input {
  width: 100%;
  padding: 15px;
  margin: 8px ;
  box-sizing: border-box;
  border-radius: 40px; /* Añadido para hacer los cuadros de texto redondos */
  border: 2px solid #deeef1 ; /* Añadido un borde morado */
}

.login-header {
  font-size: 36px; /* Tamaño del texto más grande */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Estilo de letra bonito, puedes ajustar la lista según tus preferencias */
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.tel-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; 
}

.custom-select {
  width: 10%; 
}

/* Agregamos un poco de margen izquierdo al input de teléfono para separarlo */
input[name="tel_number"] {
  width: 46%; /* Ajustamos el ancho del input de teléfono */
  margin-left: 4%; /* Agregamos un margen izquierdo para separar del select */
}



.custom-select {
  width: 50%;
  padding: 10px;
  margin: 8px 0 8px 0; /* Agrega un margen a la derecha */
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #8e44ad;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: left; 
}

.options {
  margin-top: 20px;
  margin: 0;
  text-align: left;
  margin-left: 0;
  padding: 20px;
  position: absolute;
  left: 0;
}

.login-header1 {
  text-decoration: none;
  display: block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}

/* MODAL */

#modal::backdrop{
  background-color: rgba(0,0,0,.55);
}

#modal{
  max-width: 50ch;
}
.error-message {
  color: red; /* Cambia el color del texto a rojo */
  font-weight: bold; /* Hace el texto en negrita */
  margin-top:  10px; /* Añade un margen superior para separarlo del contenido anterior */
}

.center-container {
  position: absolute;
  right: 13%; /* Distancia desde el borde derecho */
  margin-left: auto; /* Ajusta la distancia desde el borde izquierdo */
  margin-right: 5%; /* Espacio entre el contenedor y el borde derecho */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
 padding: 20px; /* Añadir relleno para separar el contenido del borde */ 
 border-radius: 20px; /* Hacer el contenedor redondo */
 height: 500px; /* Altura aumentada del contenedor */
}

.welcome-message {
  position: fixed;
  left: 30%; /* Distancia desde el borde izquierdo */
  top: 35%; /* Distancia desde el borde superior */
  color: #FFFFFF; /* Texto blanco */
  font-family: 'Playfair Display', serif; /* Usando Playfair Display como la fuente principal */
  font-size: 500%; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  transition: opacity 1s ease; /* Transición de opacidad */
}

.welcome-message p {
  margin: 0; /* Eliminar margen interno del párrafo */
}

.welcome-message {
 
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.welcome-message1 {
  position: fixed;
  left: 30%; /* Distancia desde el borde izquierdo */
  top: 43%; /* Distancia desde el borde superior */
  color: #FFFFFF; /* Texto blanco */
  font-family: 'Playfair Display', serif; /* Usando Playfair Display como la fuente principal */
  font-size: 500%; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  transition: opacity 1s ease; /* Transición de opacidad */
}

.welcome-message1 p {
  margin: 0; /* Eliminar margen interno del párrafo */
}

.welcome-message1 {
 
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.welcome-message2 {
  position: fixed;
  left: 30%; /* Distancia desde el borde izquierdo */
  top: 51%; /* Distancia desde el borde superior */
  color: #FFFFFF; /* Texto blanco */
  font-family: 'Playfair Display', serif; /* Usando Playfair Display como la fuente principal */
  font-size: 500%; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  transition: opacity 1s ease; /* Transición de opacidad */
}

.welcome-message2 p {
  margin: 0; /* Eliminar margen interno del párrafo */
}

.welcome-message2 {
 
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.recordarContraseña a {
  color: rgb(255, 255, 255); /* Color por defecto del enlace */
  text-decoration: none; /* Quitar subrayado */
  transition: color 0.3s ease; /* Transición suave de color */
  text-align: center;
  margin-top: 10%; /* Ajustar la posición vertical */
}

.recordarContraseña a:hover {
  color: #0a1764; /* Cambiar a azul cuando se pasa el ratón */
}
.input-container {
  position: relative;
}

.input-container input {
  padding-left: 30px; /* Espacio para el ícono */
  /* Otros estilos */
}

.input-container i {
  position: absolute;
  left: 7%; /* Distancia del ícono al borde izquierdo del contenedor */
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; /* Tamaño del ícono */
  color: #2458bf /* Color del ícono */
}




