body {
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    background-color: #181e40; /* Color de fondo */
    color: #FFFFFF;
    margin: 13%; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
}

h2 {
    text-align: center; /* Alinear el título al centro */
}

form {
    width: 300px; /* Ancho del formulario */
    margin: 0% auto; /* Centrar el formulario horizontalmente */
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px; /* Añadir relleno alrededor del formulario */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
    padding: 20px; /* Añadir relleno para separar el contenido del borde */ 
    border-radius: 20px; /* Hacer el contenedor redondo */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

label {
    display: block; /* Convertir etiquetas en bloques */
    margin-bottom: 5px; /* Espacio entre etiquetas y campos de entrada */
}

input[type="password"],
input[type="submit"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Ajuste del relleno */
    margin-bottom: 10px; /* Espacio entre campos de entrada */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el relleno y el borde en el tamaño total */
}

input[type="submit"] {
    background-color: #2458bf; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border: 1px solid #2458bf; /* Borde del mismo color que el fondo */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

input[type="submit"]:hover {
    background-color: #0a1764 ; /* Cambio de color de fondo al pasar el ratón */
}